<section class="about">
    <h1 class="w-full text-center my-16">About</h1>
    <div class="w-full flex justify-center items-center">
        <p class="responsive w-full">I'm a programmer from the Netherlands and am currently studying 
        <a href=`https://www.buas.nl/opleidingen/bachelor-creative-media-and-game-technologies` target="_blank">Creative Media and Game Technologies</a> 
        at <a href=`https://www.buas.nl` target="_blank">Breda University of Applied Sciences</a>.
        In my free time, I like to work on passion projects, play some games and take photos.</br>
        For the better part of my childhood I have been programming. It all started with Scratch and I later moved towards Python,
        learning a lot about how programming logic works and acquired some experience using Python to create simple programs
        that interface with the OS and connected hardware.</br>
        After learning C++, I now call it my go-to programming language for its speed and features. It is also the main programming
        language used in my course at <abbr title="Breda University of Applied Sciences">BUas</abbr>. During the course, I have also learned how to make my own game engines by utilising OpenGL
        and Dear ImGUI.</br>
        I'm always keen to learn new concepts of my known languages or even learn new languages.
        </p>
    </div>
</section>

<style>
    .responsive {
        max-width: var(--container-6xl);
    }
    @media (max-width: 80rem) {
        .responsive {
            max-width: var(--container-3xl) !important;
        }
    }
    @media (max-width: 60rem) {
        .responsive {
            max-width: var(--container-2xl) !important;
        }
    }
    @media (max-width: 50rem) {
        .responsive {
            max-width: var(--container-md) !important;
        }
    }
    @media (max-width: 40rem) {
        .responsive {
            max-width: var(--container-2xs) !important;
        }
    }
</style>