<h1 class="w-full text-center my-16">Featured</h1>
<div class="w-full flex justify-center items-center">
    <div class="featured-container max-w-4xl gap-4 w-full flex justify-evenly items-center">
        <slot />
    </div>
</div>

<style>
    @media (max-width: 60rem) {
        .featured-container {
            flex-direction: column !important;
        }
    }
</style>