---
import { Icon } from 'astro-icon/components';

interface Props {
  link: string;
  icon_name: string; // File relative to src/icons (without svg extension)
  alt: string;
  new_tab?: boolean;
}

const { link, icon_name, alt, new_tab = true } = Astro.props;
---

<a href={link} target={new_tab ? "_blank" : "_self"} class="size-[2rem] text-black dark:text-white" aria-label={alt}>
    <Icon name={icon_name} class="icon w-full h-full text-black dark:text-white" aria-hidden="true" />
</a>