---
interface Props {
    line_color?: string;
    text_color?: string;
}

const { line_color = "--color-accent", text_color = "--color-primary" } = Astro.props;
---

<div class="my-24 w-full h-2 flex justify-center items-center">
    <div 
        class="responsive rounded-xs h-full max-w-6xl w-full" 
        style={`background-color: var(${line_color}); @media (prefers-color-scheme: dark) { background-color: var(${line_color}-dark); }`}
    ></div>
</div>

<style>
    @media (max-width: 80rem) {
        .responsive {
            max-width: var(--container-3xl) !important;
        }
    }
    @media (max-width: 60rem) {
        .responsive {
            max-width: var(--container-2xl) !important;
        }
    }
    @media (max-width: 50rem) {
        .responsive {
            max-width: var(--container-md) !important;
        }
    }
    @media (max-width: 40rem) {
        .responsive {
            max-width: var(--container-2xs) !important;
        }
    }
</style>