<section class="Skills">
    <h1 class="w-full text-center my-16">Skills</h1>
    <div class="w-full flex justify-center items-center">
        <p class="responsive w-full">Below I have listed my skills. They are ordered from most to least experience. Hover over one to see more context.</p>
    </div>
    <div class="w-full flex flex-col gap-4 mt-6 justify-center items-center">
        <div class="responsive w-full flex flex-col justify-center rounded-4xl border-border dark:border-border-dark border background-crust dark:background-crust-dark">
            <h3 class="w-full text-center my-2">Programming Languages</h3>
            <div class="p-4 flex flex-row flex-wrap gap-4 justify-center items-center">
                <i class="devicon-cplusplus-plain text-6xl text-blue dark:text-blue-dark" title="C++ (std20)"></i>
                <i class="devicon-python-plain text-6xl text-yellow dark:text-yellow-dark" title="Python (3.12.2)"></i>
                <i class="devicon-rust-original text-6xl text-peach dark:text-peach-dark" title="Rust (2024)"></i>
                <i class="devicon-css3-plain text-6xl text-blue dark:text-blue-dark" title="CSS"></i>
                <i class="devicon-html5-plain text-6xl text-red dark:text-red-dark" title="HTML5"></i>
                <i class="devicon-lua-plain text-6xl text-blue dark:text-blue-dark" title="Lua (Mostly for game development in Roblox Studio)"></i>
            </div>
        </div>
        <div class="responsive w-full flex flex-col justify-center rounded-4xl border-border dark:border-border-dark border background-crust dark:background-crust-dark">
            <h3 class="w-full text-center my-2">Frameworks / APIs</h3>
            <div class="p-4 flex flex-row flex-wrap gap-4 justify-center items-center">
                <i class="devicon-opengl-plain text-6xl text-sky dark:text-sky-dark" title="OpenGL (I have experience up to 4.6)"></i>
                <span class="text-5xl text-green dark:text-green-dark" title="DirectX 12 (Currently only through using MiniEngine)">XII</span>
                <i class="devicon-opencl-plain text-6xl text-peach dark:text-peach-dark" title="OpenCL"></i>
            </div>
        </div>
        <div class="responsive w-full flex flex-col justify-center rounded-4xl border-border dark:border-border-dark border background-crust dark:background-crust-dark">
            <h3 class="w-full text-center my-2">Tools / Software</h3>
            <div class="p-4 flex flex-row flex-wrap gap-4 justify-center items-center">
                <i class="devicon-jetbrains-plain text-6xl text-text dark:text-text-dark" title="JetBrains IDEs (I mostly use Rider, CLion and RustRover)"></i>
                <i class="devicon-cmake-plain text-6xl text-green dark:text-green-dark" title="CMake"></i>
                <i class="devicon-git-plain text-6xl text-peach dark:text-peach-dark" title="Git Version Control (I only know basics, but I use it regularly as a version control system)"></i>
                <i class="devicon-unrealengine-plain text-6xl text-text dark:text-text-dark" title="Unreal Engine (5.5.4)"></i>
                <i class="devicon-latex-plain text-6xl text-teal dark:text-teal-dark" title="LaTeX (Only equations. Most of the experience gained in maths class)"></i>
            </div>
        </div>
        <div class="responsive w-full flex flex-col justify-center rounded-4xl border-border dark:border-border-dark border background-crust dark:background-crust-dark">
            <h3 class="w-full text-center my-2">OSes</h3>
            <div class="p-4 flex flex-row flex-wrap gap-4 justify-center items-center">
                <i class="devicon-windows11-plain text-6xl text-blue dark:text-blue-dark"></i>
                <i class="devicon-archlinux-plain text-6xl text-blue dark:text-blue-dark"></i>
                <i class="devicon-raspberrypi-plain text-6xl text-red dark:text-red-dark"></i>
            </div>
        </div>
    </div>
</section>

<style>
    .responsive {
        max-width: var(--container-6xl);
    }
    @media (max-width: 80rem) {
        .responsive {
            max-width: var(--container-3xl) !important;
        }
    }
    @media (max-width: 60rem) {
        .responsive {
            max-width: var(--container-2xl) !important;
        }
    }
    @media (max-width: 50rem) {
        .responsive {
            max-width: var(--container-md) !important;
        }
    }
    @media (max-width: 40rem) {
        .responsive {
            max-width: var(--container-2xs) !important;
        }
    }
</style>